@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
body { margin: 60px auto; width: 70%; font-family: 'Merriweather', Georgia, Times; font-size: 1em; }
h1, h2 { font-family: 'Merriweather', Georgia, Times;}
ul0{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    font-weight: bold;
}
ul0 li0 {
    display: inline;
    margin-right: 20px;
}
ul2{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    font-weight: bold;
}
ul2 li2 {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000099;
}
a:hover {
    text-decoration: underline;
}
li0 a:hover { color: #0088cc; }
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    color: #333;
}
.home img {
    float: left;
    margin: 20px 20px 10px 10px;
}
thick {
    font-weight: bold;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

.cv {line-height: 23px; width: 90%; margin: 0 auto;}
.cv ul { margin: 0;}
.cv li { line-height: 23px; margin: 0;}
.cv h2 { font-size: 26.5px; }
.cv h1 { font-size: 32.5px; }

.projects, .music, .home { margin-bottom: 30px; }
