body {
    margin: 60px auto;
    width: 70%;
}
ul0{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    font-weight: bold;
}
ul0 li0 {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000099;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
strong {
    font-weight: bold;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.cv {line-height: 23px; width: 90%; margin: 0 auto;}
.cv li { line-height: 23px; }
.cv h2 { font-size: 26.5px; }
.cv h1 { font-size: 32.5px; }

.software, .about, .cv, .media, .home { margin-bottom: 30px; }
